body {
	background-color: black;
	background: url("../img/game_search/bkg.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	min-width: 1024px;
	min-height: 720px;
	margin: 0 0 0 0;
}
/*
html{
	width: 100%;
	height: 100%;
	min-width: 720px;
}
*/
#topBar {
	clear:both;
	background-image: url("../img/header/logo_bars.png");
	background-repeat: no-repeat;
	min-width: 1024px;
	height: 56px;
}

#leftTop, #userTop, #menuTop, #reportTop, #languageTop{
	float:left;
}

#leftTop{
	color: white; 
}

#rightTop{
	float:right;
	margin-right: 50px;
}

#logo:hover {
	background-position: -33px 0;
	border: none;
}

#logo {
	margin: 13px 0 0 5px;
	float: left;
	display: block;
	width: 33px;
	height: 30px;
	text-indent: -1000em;
	background: url(../img/header/logo.png) no-repeat left top;
	border: none;
}

#logoTextContainer {
	float: left;
	width: auto;
	margin-top: 10px;
	margin-left: 5px;
}

#userPic {
	background: url(../img/general/user_img.png) no-repeat left top;
	background-size: 38px 38px;
	margin: 10px 0 0 15px;
	float: left;
	width: 38px;
	height: 38px;
	text-indent: -1000em;
}

#userNameTop{
	float:left;
	margin: 20px 0 0 5px;
}

#userArrowInfo{
	background: url(../img/header/more_nick_ani.png) no-repeat left top;
	margin: 26px 0 0 3px;
	float: left;
	display: block;
	width: 11px;
	height: 10px;
	text-indent: -1000em;
}

#userArrowInfo:hover{
	background-position: -11px 0;
	cursor: pointer;
}

#reportText, #languageText{
	float:left;
	color: #f4cd8a;
	margin: 15px 0 0 5px;
}

#reportGeneration{
	background: url(../img/header/report_icon.png) no-repeat left top;
	background-size: 18px 19px;
	margin: 15px 0 0 5px;
	float: left;
	width: 18px;
	height: 19px;
	text-indent: -1000em;
}


#language{
	background: url(../img/header/world_icon.png) no-repeat left top;
	background-size: 21px 21px;
	margin: 15px 0 0 5px;
	float: left;
	width: 21px;
	height: 21px;
	text-indent: -1000em;
}

#matches{
	position: relative;
	clear: both;
	min-width: 1024px;
	width: auto;
	height:460px;
}

#availableMatches{
	margin-right: auto;
	margin-left: auto;
	width:915px;
	height:450px;
}

.match:hover{
	background-position: -283px 0;
}

.match{
	background: url(../img/game_search/game_frame_ani.png) no-repeat left top;
	float: left;
	margin: 5px 0 0 15px;
	width: 283px;
	height: 85px;
	text-indent: -1000em;
	cursor: pointer;
}

.matchUserImage{
	float: left;
	background-size: 60px 60px;
	background: white;
	width: 60px;
	height: 60px;
	margin: 12px 0 0 15px;
}
.matchIcon{
	float:left;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

.matchIconsContainer{
	float:left;
	text-indent: initial;
	margin: 5px 0 0 10px;
}

.matchSubIconContainer{
	float: left;
	margin-left: 5px;
}

.matchTextContainer{
	float: left;
	text-indent: initial;
	margin: 15px 0 0 15px;
}

#leftArrow{
	background: url(../img/game_search/previous_icon_ani.png) no-repeat left top;
	left: 20px;
}

#leftArrow:hover{
	background-position: -35px 0;
}

#rightArrow{
	background: url(../img/game_search/next_icon_ani.png) no-repeat left top;
	right: 20px;
}

#rightArrow:hover{
	background-position: -35px 0;
}

.arrow{
	width: 35px;
	height: 55px;
	text-indent: -1000em;
	background-size: 35px 55px;
	margin-top: 175px;
	cursor: pointer;
	position: absolute;
	top: 0;
}

#bottomBar{
	min-width: 1024px;
	width: auto;
	clear: both;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 525px;
	z-index: -99;
}

#leftBottomPanel{
	background: url(../img/game_search/left_border.png) no-repeat left top;
	width: 116px;
	height: 324px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -95;
}

#rightBottomPanel{
	background: url(../img/game_search/right_border.png) no-repeat left top;
	width: 116px;
	height: 324px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -96;
}

#leftBottomLight{
	background: url(../img/game_search/left_light.png) no-repeat left top;
	width: 559px;
	height: 525px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -98;
}

#rightBottomLight{
	background: url(../img/game_search/right_light.png) no-repeat left top;
	width: 559px;
	height: 525px;
	position: absolute;
	right: 0;
	bottom: 0;
	/*margin-left: 453px;
	margin-top: -344px;*/
	z-index: -97;
}

#bottomController{
	background: url(../img/game_search/joystick_ani.png) no-repeat left top;
	width: 95px;
	height: 180px;
	position:absolute;
	left: 45%;
	right: 55%;
	bottom: 0;
	cursor: pointer;
	z-index: 100;
}

#bottomController:hover{
	background-position: -95px 0;
}

#bottomAvailableAbilities{
	width: 205px;
	height: 125px;
	position: absolute;
	left: 15%;
	bottom: 12%;
	z-index: -94;
}

.ability{
	width:26px;
	height:26px;
	float:left;
	margin: 15px 0 0 20px;
}

#shield{
	background: url(../img/abilities/shield_icon.png) no-repeat left top;
}
#antiShield{
	background: url(../img/abilities/antishield_icon.png) no-repeat left top;
}
#bomb{
	background: url(../img/abilities/bomb_icon.png) no-repeat left top;
}
#extraShot{
	background: url(../img/abilities/extra_shot_icon.png) no-repeat left top;
}
#lifeSaver{
	background: url(../img/abilities/lifesaver_icon.png) no-repeat left top;
}
#plusHorizontal{
	background: url(../img/abilities/plus_horizontal_icon.png) no-repeat left top;
}
#plusVertical{
	background: url(../img/abilities/plus_vertical_icon.png) no-repeat left top;
}
#spy{
	background: url(../img/abilities/spy_icon.png) no-repeat left top;
}

#availableAbilitiesText{
	color: white;
	margin-top: 105px;
	margin-left: 20px;
}

#bottomStatistics{
	width: 250px;
	height: 125px;
	position:absolute;
	right: 12%;
	bottom: 5%;
	z-index: -93;
}

#sTop{
	float: left;
	margin-left: 100px;
	clear: both;
}
#sBot{
	float: left;
	clear: both;
	margin-left: -30px;
}

.statisticContainer{
	float: left;
	margin-left: 10px;
}

#ranking, #points, #experience, #victories, #loses{
	text-align: center;
	color: #008cab;
}


#selectMatchContainer{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    position: absolute;
    display: none;
    min-height: 720px;
    min-width: 1024px;
}

#closeSelectMatchContainer{
    background: url(../img/general/cross.png);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 60px;
    right: 80px;
    cursor: pointer;
}

#selectMatchBackground{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: .7;
    z-index: -1;
}

.confirmationBtn{
	display: inline;
	margin-left: 10%;
	background: white;
	border-color: #e77823;
	border-radius: 30px;
	width: 100px;
	height: 2em;
	font-size: 1.3em;

}

.confirmationBtn:hover{
	box-shadow: 0 0 5px #e77823;
}

#confirmationContainer{
	left: 40%;
	top: 30%;
	width: 300px;
	height: 200px;
	background: white;
	position: absolute;
	border-radius: 30px;
	-webkit-animation: pulse 3s infinite; /* Chrome, Safari, Opera */
    animation: pulse 3s infinite;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes pulse {
    50% {box-shadow: 0 0 20px #e77823;}
}

/* Standard syntax */
@keyframes pulse {
    50% {box-shadow: 0px 0px 20px #e77823;}
}

.confirmationText{
	text-align: center;
	font-size: 1.2em;
	color: #e77823;
	padding: 10px 20px 10px 20px;
}